.mentor-section {
    margin-top: 160px;
}
.mentor-desc {
    font-weight: 700;
    font-size: 22px;
    margin-bottom: 48px;
}
.mentor-but {
    font-size: 40px;
    font-weight: 900;
    margin-bottom: 16px;
    color: #2563eb;
}
.mentor-desc2 {
    font-size: 22px;
    font-weight: 700;
}
